[edit]
command = "codium"
args = ["--wait"]

[data]
codium_extensions = [
    "bmalehorn.vscode-fish",
    "davidanson.vscode-markdownlint",
    "dawidd6.debian-vscode",
    "foxundermoon.shell-format",
    "haskell.haskell",
    "jnoortheen.nix-ide",
    "jock.svg",
    "justusadam.language-haskell",
    "lkrms.inifmt",
    "mads-hartmann.bash-ide-vscode",
    "prince781.vala",
    "redhat.vscode-yaml",
    "tamasfe.even-better-toml",
    "tonka3000.qtvsctools",
    "ms-azuretools.vscode-docker"
]
is_install_recommended = false
is_install_extras = false
