encryption = "age"

[age]
    # cz age-keygen -o ~/.config/chezmoi/age-id.txt
    identity = "~/.config/chezmoi/age-id.txt"
    recipients = [ "age1c36pm589w83ywcv7kwn9mfrx28kn582sm35l94ea0ldfg33v9fmsdcv3fh", "age16f20vgwvw0uesuyqc2ucpd9txwf0jgkd9wfdw2d0mrkua9x3k9wsgp8yeg" ]

[edit]
command = "codium"
args = ["--wait"]

[data]
codium_extensions = [
    "bmalehorn.vscode-fish",
    "davidanson.vscode-markdownlint",
    "dawidd6.debian-vscode",
    "foxundermoon.shell-format",
    "haskell.haskell",
    "jnoortheen.nix-ide",
    "jock.svg",
    "justusadam.language-haskell",
    "lkrms.inifmt",
    "mads-hartmann.bash-ide-vscode",
    "prince781.vala",
    "redhat.vscode-yaml",
    "tamasfe.even-better-toml",
    "tonka3000.qtvsctools",
    "ms-azuretools.vscode-docker"
]
is_install_recommended = true
is_install_tex = true
is_install_extras = false
