#!/bin/bash
sudo apt install -y \
    xmonad xmobar libghc-split-dev libghc-hostname-dev suckless-tools \
    haskell-gtk-sni-tray-utils \
    pcmanfm xarchiver \
    xdotool curl safe-rm

# https://itsfoss.gitlab.io/post/how-to-recover-a-deleted-file-in-linux/

{{if .is_install_recommended}}
sudo apt install -y aptitude \
        shutter \
        copyq \
        x11-xserver-utils \
        {{ if eq .chezmoi.arch "amd64" }} network-manager-gnome {{ else if eq .chezmoi.arch "arm64" }} nm-tray {{ end }} \
        onboard \
        easyeffects \
        hw-probe \
        etckeeper \
        xpdf \
        btop rocm-smi zutty \
        clamtk \
        system-config-printer \
        apt-listchanges \
        ncdu \
        xss-lock \
        pavucontrol \
        xfce4-power-manager \
        {{ if eq .chezmoi.arch "amd64" }} xautolock {{ end }}
        # FIXME xautolock for arm64 missing

# https://askubuntu.com/questions/622031/how-do-i-exclude-specific-packages-from-installation-with-apt-get
sudo apt install -y elpa-org default-mta- mail-transport-agent-

{{end}}

{{if .is_install_extras}}
sudo apt install -y \
    podman-compose \
    pandoc \
    multimedia-graphics \
    geeqie \
    dex \
    dict \
    wakeonlan \
    reptyr
{{end}}

{{if .is_install_tex}}
sudo apt install -y \
    texworks texlive-humanities \
    texlive-lang-german
{{end}}
