#!/bin/bash

# charm glow
# element.io
# nvidia-container-toolkit
# signal
# teamviewer

pushd .
cd {{ .chezmoi.sourceDir }}
sudo cp ./etc/apt/keyrings/* /etc/apt/keyrings/
sudo cp ./etc/apt/sources.list.d/* /etc/apt/sources.list.d/

sudo apt install extrepo
popd
