#!/bin/bash
sudo apt install \
    xmonad xmobar libghc-split-dev libghc-hostname-dev suckless-tools \
    haskell-gtk-sni-tray-utils xscreensaver \
    pcmanfm xarchiver \
    xdotool

{{if .is_install_recommended}}
sudo apt install shutter \
        copyq \
        x11-xserver-utils \
        network-manager-gnome \
        elpa-org \
        onboard \
        easyeffects \
        {{ if eq .chezmoi.arch "amd64" }}
        pipewire-audio \
        {{ end }}
        hw-probe \
        etckeeper \
        xpdf \
        btop rocm-smi \
        clamtk \
        system-config-printer \
        apt-listchanges \
        ncdu
{{end}}

{{if .is_install_extras}}
sudo apt install \
    podman-compose \
    pandoc \
    multimedia-graphics \
    geeqie \
    dex \
    dict \
    wakeonlan
{{end}}

{{if .is_install_tex}}
sudo apt install \
    texworks texlive-humanities \
    texlive-lang-german
{{end}}

{{ if eq .chezmoi.arch "arm64" }}
sudo apt install rpd-wayland-all
sudo apt remove --purge rpd-x-all
{{ end }}