# workaround until https://github.com/systemd/systemd/issues/40387
# https://github.com/systemd/systemd/issues/40387
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html
[Unit]
Description=delegate user on suspend
StopWhenUnneeded=true
Before=sleep.target

[Service]
User=jan
Environment=XAUTHORITY=/home/jan/.Xauthority
Environment=DISPLAY=:0.0
# ExecStart=/home/jan/.local/bin/on-suspend.sh
ExecStop=/home/jan/.local/bin/on-resume.sh
KillMode=process
RemainAfterExit=true

[Install]
WantedBy=sleep.target
