[Unit]
Description=sflock before suspend
Before=sleep.target suspend.target

[Service]
Type=oneshot
RemainAfterExit=Yes
Environment=XAUTHORITY=/home/jan/.Xauthority
Environment=DISPLAY=:0.0
ExecStart=xautolock -locknow

[Install]
WantedBy=sleep.target suspend.target
