[Default Applications]
application/pdf=xpdf.desktop
image/jpeg=org.xfce.ristretto.desktop
image/png=org.xfce.ristretto.desktop
inode/directory=pcmanfm.desktop
application/zip=engrampa.desktop
video/quicktime=vlc.desktop
{{ if eq .chezmoi.arch "amd64" }}
text/html=librewolf.desktop
x-scheme-handler/http=librewolf.desktop
x-scheme-handler/https=librewolf.desktop
x-scheme-handler/about=librewolf.desktop
x-scheme-handler/unknown=librewolf.desktop
{{ else if eq .chezmoi.arch "arm64" }}
text/html=vivaldi.desktop
x-scheme-handler/http=vivaldi.desktop
x-scheme-handler/https=vivaldi.desktop
x-scheme-handler/about=vivaldi.desktop
x-scheme-handler/unknown=vivaldi.desktop
{{ end }}
